html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#wrapper {
    width: 100%;
}

#container {
    max-width: 1300px;
    margin: auto;
    background-color: #ffffff;
}

#head {
    width: 100%;
    background-color: #cbdc58;
    text-align: center;
}

#logo img {
    max-width: 300px;
}

#type {
    margin: 0.5em auto;
    padding: 0.25em;
    background-color: rgba(20, 133, 204, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

}

#images {
    margin: 0.5em auto;
    padding: 0.25em;

}

#headline {
    margin: auto;
    font-family: 'Audiowide', cursive;
    color: #ff0000;
    text-align: center;
}

#subhead {
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    color: #1485cc;
    text-align: center;
}

#paragraph {
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.5em;
    letter-spacing: 1px;
}

#textlink {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
}

#textlink a:link {
    text-decoration: none;
    color: #000000;
}

#textlink a:hover {
    color: #ff0000;
}

#leftimage img {
    height: auto;
}

#images img {
    height: auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#button {
    padding: 0.25em;
    text-align: center;
    margin: 1.5em auto;
}

.submitbutton:hover {
    background: linear-gradient(#fffc19, #b21212);
    opacity: 1;
    transition: 2s;
    letter-spacing: 2px;

}

.submitbutton {
    font-family: 'Audiowide', cursive;
    color: #fffc19;
    border-radius: 5%;
    background: linear-gradient(#ff0000, #b21212);
    padding: 0.5em;
    opacity: 0.9;
    letter-spacing: 2px;
}

@media all and (min-width: 300px) {
    #type {
        width: 90%;
        margin: auto;
        margin-top: 0.25em;
    }

    #images {
        width: 100%;
        margin: auto;
        margin-top: 0.25em;
    }

    #images img {
        width: 100%;
        margin: auto;
    }
}

@media all and (min-width: 600px) {
    #leftcolumn {
        width: calc(100% / 2 - 1em);
        margin-left: 0.5em;
        float: left;
    }

    #rightcolumn {
        width: calc(100% / 2 - 1em);
        margin-right: 0.5em;
        float: right;
    }
}
