html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@font-face {
    font-family: 'Distant Galaxy Regular';
    src: url("fonts/distantgalaxy.ttf");
}

#wrapper {
    width: 100%;
    background-color: #ebebeb;
}

#container {
	max-width: 1300px;
	margin: auto;
    background-color: #d7d7d7;
}

#head {
    width: 100%;
}

#logo {
	width: 30%;
	margin: auto;
}

#type {
    margin: auto;
    padding: 0.25em;
    background-color: #ffffff;
}

#headline {
    margin: auto;
}

#subhead {
    margin: auto;
}

#paragraph {
    margin: 0 auto;

}

#textlink {

}

#images {
    padding: 0.25em;
    width: 60%;
}

#images img {
    height: auto;
}

#buttons {

}

#submitbutton {

}
